{% extends 'base.html.twig' %}

{% block title %}Hello CyborgController!{% endblock %}

{% block body %}
<div class="content">
    <h1>{{ 'cyborg.pageHeadline'|trans }}</h1>
    <div class="cyborg-test">
        <h2>{{ 'cyborg.testHeadline'|trans }}</h2>
        <div class="cyborg-test-form">
            {{ form_start(form) }}

            {{ form_widget(form) }}

            <button type="submit">{{ 'cyborg.testFormSubmit'|trans }}</button>
            {{ form_end(form) }}
        </div>
        <div>
            <p>{{ 'cyborg.formResult'|trans }}</p>
            {{ result }}
        </div>


    </div>
    <div class="cyborg-definition">
        <h2>{{ 'cyborg.definitionHeadline'|trans }}</h2>
        <h3>{{ 'cyborg.definitionHeadlineDefinition'|trans }}</h3>
        <p>{{ 'cyborg.definitionTextDefinition'|trans }}</p>

        <h3>Merkmale eines Cyborgs:{{ 'cyborg.definitionHeadlineFeatures'|trans }}</h3>
            <ul>
                <li>{{ 'cyborg.definitionFeaturesList1'|trans }}</li>
                <li>{{ 'cyborg.definitionFeaturesList2'|trans }}</li>
                <li>{{ 'cyborg.definitionFeaturesList3'|trans }}</li>
            </ul>

        <h3>Beispiele für Cyborgs:{{ 'cyborg.definitionHeadlineExamples'|trans }}</h3>
            <ul>
                <li>{{ 'cyborg.definitionExamplesList1'|trans }}</li>
                <li>{{ 'cyborg.definitionExamplesList2'|trans }}</li>
                <li>{{ 'cyborg.definitionExamplesList3'|trans }}</li>
            </ul>
    </div>

</div>
{% endblock %}
